body {
    font-family: 'Verdana';
    color: #545454;
}
input {
    color: #545454;
}
.small {
    font-size: 10px;
}
#signin {
    margin: 5px;
    padding: 5px;
    width: 200px;
    border: 1px solid #f3f3f3;
}
#signin #username,#email {
    padding: 5px;
    margin: 5px;
}
.room {
  position: relative;
  display: none;
  width: 80%;
}

.feeds {
  position: relative;
  height: 100%;
}

body {
    height: 100%;
}

#container {
    position: relative;
    height: 100%;
}

.feedContainer {
  height: 100%;
  width: 500px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  display: none;
}
.checkbox {
    position: relative;
    float: right;
}
.secondary {
    position: relative;
    height: 100%;
    float: left;
}
.selectorItem {
    float: left;
    padding: 1px 5px 1px 5px;
    font-style: italic;
}
.feedSelectors {
  height: 39px;
  width: 500px;
  margin-bottom: 0px;
  margin-left: 5px;
  position: absolute;
  bottom: 0px;
  z-index: 3;
  overflow: scroll;
}
.feed {
  position: relative;
  display: block;
  height: 90%;
  overflow: scroll;
  width: 100%;
}
#roomList {
  width: 100%;
}
#login-area {
    position: absolute;
    top: 40%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
    width: 200px;
    height: 200px;
}
.login {
    position: relative;
    display: block;
    left: 115px;
    width: 80px;
    height: 30px;
    background: #f3f3f3;
    border-radius: 2px;
    border: 1px solid gray;
    margin-top: 5px;
}
.content {
    position: relative;
    padding: 5px;
}
.delete {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #f3f3f3;
}
.postForm {
  position: absolute;
  width: 470px;
  bottom: 0px;
}
#newRoom {
  width: 90%;
  margin: 5px;
  height: 20px;
  font-size: 20px;
}
.posts {
  position: absolute;
  bottom: 10px;
  width: 100%;
  max-height: 100%;
}
.receipt {
    position: absolute;
    bottom: 65px;
    height: 10px;
    width: 100%;
    font-size: 10px;
    color: grey;
}
.timeago {
    position: absolute;
    top: 5px;
    right: 5px;
}
.post {
  position: relative;
}
.clear:before, .clear:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
    
.clear:after {
    clear: both;
}
.blob {
  padding: 5px;
  border-top: 1px solid #f3f3f3;
}
.listItem {
  display: block;
  padding: 5px;
  font-size: 20px;
}
.input {
  height: 20px;
  border: 1px solid black;
  margin: 5px;
  width: 90%;
}
textarea.input {
    width: 470px;
    margin: 5px;
    position: absolute;
    bottom: 0px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 2px;
}
.submit {
    position: relative;
    height: 18px;
    width: 60px;
    margin: 5px;
    bottom: 3px;
    float: right;
    background: #f3f3f3;
    border-radius: 2px;
    border: 1px solid gray;

}
.selected {
  background: #f3f3f3;

}
.show {
  display: inline;

}
#username {
}
#userInfo {
    position: relative;
    float: left;
    display: block;
    font-style: italic;
    width: 100%;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
}
#userInfo .name,.userImg {
    position: relative;
    float: left;
    display: block;
}
#userInfo .name {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
.userImg {
    display: inline-block;

    clear: both;
}

#roomHandler {
    float: left;
    display: inline;
    width: 15%;
}
.deleted {
    font-style: italic;
    color: gray;
}

cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 *  * For IE 6/7 only
 *   * Include this rule to trigger hasLayout and contain floats.
 *    */
.cf {
    *zoom: 1;
}

html {
    height: 95%;
}
