@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic,400);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
    font-family: 'Open Sans';
    color: #545454;
}
input {
    color: #545454;
}

input:focus{
  outline:0;
}
/*********** login **********/
#login-area {
    position: absolute;
    top:20%;
    width:100%;
}

#loginlogo{
  margin-left:24%;
  font-size: 70px;
  font-weight: 400;
  font-family: Open Sans;
  color:#111;
}

#signin {
    margin-top: 20px;
    position:absolute;
    width: 100%;
    border-top: 2px solid #f3f3f3;
}

#form-block{
  border-bottom: 2px solid #f3f3f3;
}

#username, #email{
    width:100%;
    border: 0px;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 24%;
}
#username:focus, #email:focus {
  border-left: 7px solid #70d725;
  transition:0.2s;
}

#login-button {
    font-weight: 800;
    letter-spacing: 0px;
    position: relative;
    margin-left: 24%;
    margin-top: 30px;
    padding:10px 20px 10px 20px;
    font-size: 18px;
    background: black;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
}

#login-button:hover{
  background:white;
  color: black;
  cursor: pointer;
}

/******************room select*************************/
#abovechat{
  position: absolute;
  height:100%;
  border-right:10px solid #70d725;
  width:180px;
  z-index: 5;
  background: #f3f3f3;
}

/********avatar*******************/
#userInfo {
    display: block;
    font-size: 18px;
    border-bottom: 10px solid #f3f3f3;
    height: 40px;
    width:170px;
    padding:5px;
    background: #f3f3f3;
}

#userInfo .name {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    float:left;
    color:#444;
    font-family: Raleway;
}

#userImg{
  margin-left: 5px;
  margin-top:5px;
  border-radius: 50%;
  height:30px;
  width: 30px;
  float:left;
  border:4px solid #333;
}
/*****************************************/
#room-select{
  position:relative;
}

#newRoom {
  position:relative;
  top:0px;
  padding:5px;
  padding-left: 15px;
  left:0px;
  width: 75%;
  height:100%;
  font-size: 20px;
  float:left;
  outline:0;
  border: 0px;
  background: #f3f3f3;
  color:black;
}


/*******************************************/
.roomname{
  float:left;
}
.notificationIcon{
  float:right;
  text-align: center;
  /*border: 1px solid #70d725;*/
  border: 1px solid #DA3610;
  background: #DA3610;
  height:17px;
  width: 17px;
  /*color:#70d725;*/
  margin-top: 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}


::-webkit-input-placeholder {
   color: #aaa;
   font-style: italic;
   font-weight: 100;
}

#newRoom::-webkit-input-placeholder{
  font-size: 15px;
  font-style: normal;
}

:-moz-placeholder { /* Firefox 18- */
   color: grey;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

#newRoom:focus{
  border-left: 4px solid #70d725;
  transition:0.2s;
}

#newroombutton{
  position:absolute;
  left:-99999999px;
  border-radius:10px;
  background:black;
  color:white;
  font-size: 20px;
  visibility: hidden;
}

#roomList {
  float:left;
  width:180px;
  z-index: 6;
  padding-top: 0px;
  background: #f3f3f3;
}

.roomListItem {
  display: block;
  height: 25px;
  padding: 5px;
  font-size: 20px;
  color:#444;
}

.roomListItem:hover{
  cursor: pointer;
  text-decoration: underline;
  transition:0.3s;
}

#roomHandler {
    float: left;
    display: inline;
    width: 15%;
}

/*******************************middlepostregion*********************************/
.feeds {
  margin-left: 185px;
  position: relative;
  height: 100%;
  /*border:4px solid #8DE55f;*/
  z-index: 8;
  margin-bottom: 0px;
}

.feed {
  position: relative;
  bottom:108px;
  display: block;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.postForm {
  position: absolute;
  height: 103px;
  width: 499px;
  bottom: 4px;
  background:#f3f3f3;
  border: 1px solid #ddd;
}

.posts {
  position: absolute;
  width: 97%;
  max-height: 100%;
  bottom:0px;
  padding:5px;
  padding-bottom: 25px;
}

.checkbox {
    position: relative;
    float: right;
    margin-bottom: 3px;
}
#checkbox{
  border:1px solid gray;
}

textarea.input {
    position: absolute;
    padding:3px;
    bottom:40px;
    width: 94%;
    left:10px;
    right:10px;
    height: 40px;
    border: 0px solid #ddd;
    resize:none;
    background: #f3f3f3;
    font-size: 15px;
}

textarea.input:focus{
  outline: none;
}

#whitebox{
  background:#f3f3f3;
  height:20px;
  width:94%;
  position: absolute;
  bottom:13px;
  border:0px solid #ddd;
  left:10px;
  right:10px;
  padding:3px;
}

.submit {
    float:right;
    height: 18px;
    width: 60px;
    background: #f3f3f3;
    border-radius: 2px;
    border: 1px solid gray;
}

.receipt {
    position: absolute;
    bottom: 120px;
    padding-left: 60px;
    height: 10px;
    width: 100%;
    font-size: 14px;
    color: gray;
}

/*********************posts***************************************/

.timeago {
    position: absolute;
    top: 5px;
    right: 20px;
}

.post {
  position: relative;
  padding: 1px;
}

.delete {
    position: absolute;
    right:5px;
    top:2px;
    color:#ccc;
    font-size: 13px;
}

.delete:hover{
  color:green;
  cursor:pointer;
}

.content {
    position: relative;
    padding: 5px;
}

.text{
  margin-top:20px;
  margin-left: 48px;
}

#postusername{
  position:absolute;
  color:#333;
  font-family: Raleway;
  padding-top: 3px;
  left: 53px;
  font-weight: bold;
  text-decoration: underline;
}

#compactindent{
  margin-top: 0px;
  margin-left: 48px;
}

#compactcontent{
  margin-bottom: 8px;
}

/******************displayuserstotheright**********************************/
.userList {
    position:absolute;
    right:0px;
    top:0px;
    width: 180px;
    border-left: 10px solid #70d725;
    height:100%;
    font-size: 14px;
    font-family: Raleway;
    background: #f3f3f3;
}

.rightsideuser{
  padding: 5px;
  float:left;
  width:100%;
  height:40px;
  border: 1px solid #f3f3f3;
  background: white;
}

#userListTitle{
  text-align: center;
  font-size: 18px;
  padding:7px;
  font-weight: bold;
  font-family: Open Sans;
}

#rightusername{
  margin-left: 25px;
  padding-left: 20px;
  left:10px;
  padding-top: 12px;
}

.room {
  position: relative;
  display: none;
  width: 100%;
}



/*********************************************************/
body {
    height: 100%;
    margin:0px;
}

.small {
    font-size: 10px;
}

#container {
    position: relative;
    height: 100%;
}

.feedContainer {
  height: 100%;
  width: 500px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  display: none;
}

.secondary {
    position: relative;
    height: 100%;
    float: left;
}
.selectorItem {
    float: left;
    padding: 1px 5px 1px 5px;
    font-style: italic;
}
.feedSelectors {
  height: 100px;
  border: 1px solid #ddd;
  width: 500px;
  margin-bottom: 0px;
  margin-left: 5px;
  position: absolute;
  bottom: 0px;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: scroll;
  background:#f3f3f3;
}




.clear:before, .clear:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
    
.clear:after {
    clear: both;
}
.blob {
  padding: 5px;
  border-top: 1px solid #f3f3f3;
}



.selected {
  background: #70d725;
  color:white;
}
.selected:hover{
  background: #70d725
}

.show {
  display: inline;

}



.deleted {
    font-style: italic;
    color: gray;
}

cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 *  * For IE 6/7 only
 *   * Include this rule to trigger hasLayout and contain floats.
 *    */
.cf {
    *zoom: 1;
}

html {
    height: 95%;
}
