body {
    font-family: 'Verdana';
    color: #545454;
}
input {
    color: #545454;
}
.small {
    font-size: 10px;
}
#signin {
    margin: 5px;
}
.room {
  position: relative;
  display: none;
  width: 80%;
}
.streams {
  position: relative;
}
.streamContainer {
  height: 700px;
  width: 500px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  display: none;
}
.checkbox {
    position: relative;
    float: right;   
}
.secondary {
    position: relative;
    height: 700px;
    float: left;
}
.selectorItem {
    float: left;
    padding: 1px 5px 1px 5px;
    font-style: italic;
}
.streamSelectors {
  height: 39px;
  width: 500px;
  margin-bottom: 0px;
  margin-left: 5px;
  position: absolute;
  bottom: 0px;
  z-index: 3;
  overflow: scroll;
}
.stream {
  position: relative;
  display: block;
  height: 90%;
  overflow: scroll;
  width: 100%;
}
#roomList {
  width: 100%;
}
.login {
    background: #f3f3f3;
    border-radius: 2px; 
    border: 1px solid gray;
}
.content {
    position: relative;
    padding: 5px;
}
.delete {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #f3f3f3;
}
.postForm {
  position: absolute;
  width: 470px;
  bottom: 0px;
}
#newRoom {
  width: 90%;
  margin: 5px; 
  height: 20px;
  font-size: 20px;
}
.posts {
  position: absolute;
  bottom: 10px;
  width: 100%;
  max-height: 100%;  
}
.reciept {
    position: absolute;
    bottom: 0px;
    height: 10px;
    width: 100%;
}
.timeago {
    position: absolute;
    top: 5px;
    right: 5px;
}
.post {
  position: relative;
}
.blob {
  padding: 5px;
  border-top: 1px solid #f3f3f3;
}
.listItem {
  display: block;
  padding: 5px;
  font-size: 20px;
}
.input {
  height: 20px;
  border: 1px solid black;
  margin: 5px;
  width: 90%;
}
textarea.input {
    width: 470px;
    margin: 5px;
    position: absolute;
    bottom: 0px;
    height: 35px;
}
.submit {
    position: relative;
    height: 18px;
    width: 60px;
    margin: 5px;
    bottom: 3px;
    float: right;
    background: #f3f3f3;
    border-radius: 2px; 
    border: 1px solid gray;

}
.selected {
  background: #f3f3f3;

}
.show {
  display: inline;

}
#username {
}
#userInfo {
    font-style: italic;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
}
.userImg {
    display: inline-block;
}

#roomHandler {
    float: left;
    display: inline;
    width: 15%;
}
.deleted {
    font-style: italic;
    color: gray;
}
