<div id="abovechat">

<div id="userInfo">
    <div class="userImg"><img src=<%= "http://www.gravatar.com/avatar/"+ user.hash + "?s=60" %> id="userImg" alt="image" title=<%= user.name %>></div>
    <div class="name"><%= user.name %></div>
</div>

<div id="room-select">
<form id="addRoom" action="#">  
    <input autocomplete="off" placeholder="join room.." type="text" id="newRoom"></input>
    <button id="newroombutton" class="submit">Add</button>
</form>


<div id="roomList"></div>
</div>
</div>
